.fieldTitle {
	clear: both;
	width  : 200px;
	float: left;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	margin : 0 auto;
	padding: 4px;

}

.fieldValue {
	float: left;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 12px;
	color: #000000;
	margin : 0 auto;
	padding: 4px;
}

.salary {
	float: right;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 12px;
	color: #797979;
}

.fieldHeading {
	clear: both;
	float: left;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #00A5FE;
}

.footer {
	clear: both;
	float: left;
}

.appHeading {
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 22px;
	color: #248f8f;
	text-align: top;
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;	
}

.heading {
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 12px;
	color: #248f8f;
	background-color: #ebfafa;
	text-align: top;
	vertical-align: top;
	
}

.td {
	text-align: top;
	vertical-align: top;
	margin: 2px;
	padding: 2px;
	font-size: 14px;
}

.row {
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 12px;
	color: #248f8f;
	text-align: top;
	vertical-align: text-top;
}